body {
  margin: 0;
  font-family: Arial, serif;
}
.header {
  width: 100%;
  background-color: #4CAF50;
  z-index: 50;
  position: fixed;
  border-bottom: solid thin white;
}
.header h2 {
  float: left;
  padding-left: 5%;
}
.header a {
  text-decoration: none;
  color: white;
}
.header nav {
  float: right;
  margin: 30px 5% 0 0;
}
nav a {
  padding-left: 25px;
}
nav a:hover {
  color: green;
}
.register:hover {
  color: red;
}
.burger {
  width: 0;
  float: right;
}
.burger div {
  width: 0;
  height: 4px;
  margin-top: 2px;
  background-color: black;
}
.content {
  width: 100%;
  height: 520px;
  margin-top: 60px;
  float: left;
  background-image: url(../images/room.jpg);
  background-size: cover;
  color: #102223;
}
.content .col {
  width: 50%;
  float: left;
}

.col p {
  line-height: 30px;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  margin-top: 180px;
  background-color: #4CAF50;
}
.content .col-2 {
  width: 50%;
  float: left;
}
.col-2 form {
  width: 50%;
  margin: 100px 15% 0px 35%;
  padding: 10px;
  background-color: grey;
  opacity: 0.8;
  border-radius: 2%;
}
.content input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.content input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.content input[type=submit]:hover {
  background-color: #45a049;
}

.sec-one {
  width: 80%;
  margin:  10%;
  float: left;
}
.sec-one img {
  width: 30%;
  height: 480px;
  margin: 0 20px;
  float: left;
  object-fit: contain;
  overflow: auto;
}
.sec-one p ul {
  margin-left: 20px;
}
article {
  width: 100%;
  float: left;
  background-color: #102223;
}
article .company-type {
  width: 100%;
  float: left;
  font-family: Times New Roman;
  color:  #102223;
}
article .company-type .headline {
  width: 100%;
  height: 100px;
  background-color:  #4CAF50;
  float: left;
  font-size: 22px;
  line-height: 25px;
  color: #102223;
  text-align: center;
  border-bottom: 1px grey;
}
article .company-type .para1 {
  float: left;
  width: 40%;
  height: 400px;
  margin: 5% 0 5% 5%;
  line-height: 20px;
  padding: 20px;
  font-size: 16px;
  background-color: #4CAF50;
  opacity: 0.97;
}
article .company-type .para2 {
  float: left;
  width: 40%;
  height: 400px;
  margin: 5% 0 5% 5%;
  padding: 20px;
  line-height: 20px;
  font-size: 16px;
  background-color: #4CAF50;
  opacity: 0.97;
}
article .company-type h6 {
  font-size: 25px;
  padding-left: 25px;
  font-family: verdana, sans-serif;
}
.section {
  width: 100%;
  float: left;
  background-color: #4CAF50;
}
.section #rec {
  width: 28%;
  height: 350px;
  margin: 50px auto 50px 4.150%;
  float: left;
}
.section #rec .round {
  width: 150px;
  height: 150px;
  margin: 0px 30%;
  border: solid white;
  border-radius: 50%;
}
.section p {
  text-align: center;
  padding: 20px;
  line-height: 25px;
  color: white;
}
section {
      width: 60%;
      float: left;
      margin: 5% 20% 0 20%;
      color: white;
      background-color: black;
      opacity: 0.8;
      padding: 20px;
      letter-spacing: 2px;
    }
.head {
  width: 100%;
  height: 60px;
  float: left;
  background-color: #ffffe6;
  text-align: left;
  padding: 10px 0 0 15%;
}
.form-field {
  width: 80%;
  margin: 0 10% 0 10%;
  float: left;
  background-color: #f5f5f0;
}
.form-field .text {
  float: left;
  margin-top: 30px;
  border: none;
  font-size: 13px;
}
.form-field .text h3 {
  font-size: 24px;
  padding-left: 60px;
}
.form-field input[type=text], select {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0 0 60px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.form-field input[type=number], select {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0 0 60px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.form-field input[type=submit] {
  width: 20%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0 0 60px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form-field input[type=checkbox] {
  margin: 8px 0;
}
.form-field .checkbox {
  display: block;
  position: relative;
  padding-left: 60px;
  margin-bottom: 12px;
  cursor: pointer;
}
.form-field textarea {
  width: 86%;
  height: 150px;
  padding: 12px 20px;
  margin: 10px 0 0 60px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
footer {
  width: 100%;
  float: left;
  background-color: #102223;
  border-top: solid 1px grey;
  text-align: center;
  color: white;
  font-size: 17px;
}
footer .footer-nav {
  width: 33%;
  height: 300px;
  float: left;
  border-right: solid thin grey;
}
footer .footer-nav a {
  text-decoration: none;
  display: block;
  text-align: left;
  padding: 20px;
  color: white;
  font-size: 17px;
}
footer .social-media {
  width: 33%;
  height: 300px;
  float: left;
  border-right: solid thin grey;
}
footer .contact {
  width: 30%;
  height: 300px;
  float: right;
  color: white;
}

footer .contact p {
  width: 150px;
  padding-left: 20px;
}
footer .contact a {
  border: solid 3px #4CAF50;
  border-radius: 4%;
  padding: 4px;
  display: block;
  text-decoration: none;
  color: white;
  background-color: inherit;
}
footer .contact a:hover {
  background-color: #4CAF50;
  border: solid 3px #4CAF50;
}
footer .contact .contact-1 {
  float: left;
}
footer .contact .contact-2 {
  float: left;
}
footer .copyright {
  width: 100%;
  height: 40px;
  float: left;
  border-top: solid thin grey;
  font-size: 13px;
}
footer .copyright a {
  color: white;
  text-decoration: none;
}
footer .copyright a:hover {
  color: red;
}